.App {
    min-height: 100dvh;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.App {
    display: flex;  
    flex-direction: column;
    * {
        transition: 0.2s ease-in-out;
    }
}
.masonry {
    place-items: center;
}
.similar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3 {
        font-size: 22px;
        font-weight: 800;
        margin-left: 100px;
    }
}
.photo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .to_original {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 335px;
        padding: 4px 8px;
        position: absolute;
        a {
            background-color: white;
            padding: 4px;
            border-radius: 2px;
            display: grid;
            place-items: center;
        }
    }
    .container {
        display: flex;
        justify-content: center;
        img {
            width: 335px;
        }
    }
}
.userdetails {
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 44px;
    .download:is(:hover,:focus,:active) {
        .dropdown {
            display: flex;
            opacity: 1;
        }
    }
    .download {
        background-color: blue;
        position: relative;
        transition: 0.4s ease;
        .dropdown {
            opacity: 0;
            display: none;
            flex-direction: column;
            position: absolute;
            gap: 10px;
            background-color: White;
            outline: 1px solid #222222;
            width: 150%;
            transform: translateX(-30%) translateY(5px);
            padding: 4px 2px;
        }
        .my_dl {
            display: flex;
            align-items: center;
            padding: 4px;
        }
    }
}

// .feed {
//     all: unset;
//     min-height: 100%;
//     background-color: blue;

//     div {
//         height: 350px;
//         width: 400px;
//         img {
//             max-width: 250px;
//         }
//     }
// }
.feed {
    display: grid;
    grid-template-columns: repeat( auto-fill,min-max(350px, 400px));
    grid-template-rows: masonry;
}
 
.card:hover {
    filter: grayscale(10);
    transform: scale(102%);
    .to_original {
        opacity: 1;
        pointer-events: all;
    }
}
.card {
    // background-color: red;
    width: 236px;
    height: fit-content;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    .to_original {
        pointer-events: none;
        position: absolute;
        opacity: 0;
        height: fit-content;
        backdrop-filter: grayscale(60%);
        width: 100%;
        display: flex;

        .options {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 12px 4px;
            height: fit-content;
            justify-content: space-between;
            .person {
                all: unset;
                background-color: white;
                padding: 8px;
                font-weight: 600;
                border-radius: 8px;
                font-size: 12px;
            }
            .link {
                all: unset;
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background-color: white;
                
            }
        }
        // 
    }
    .main_img {
        all: unset;
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
    }
    .user {
        display: flex;
        flex-direction: column;
        
        .info {
            display: flex;
            align-items: center;
            gap: 4px;
            img {
                height: 32px;
                border-radius: 100px;
            }
            svg {
                fill: white;
            }
            p  {
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 100%;
    // background-color: green;
   
}
.header_logo {
    display: flex;
    align-items: baseline;
    background-color: #222222;
    color: white;
    padding: 4px;
    border-radius: 4px;
    h2 {
        font-size: 18px;
        color: #ffaa5a;
    }
}
.header {
    position: sticky;
    z-index: 10 ;
    top: 0;
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    gap: 40px;
    .search {
        height: 38px;
        display: flex;
        align-items: center;
        padding: 0px 0px;
        border-radius: 4px;
        input {
            all: unset;
            width: 100%;
            font-size: 14px;
            padding-left: 4px;
        }
        button {
            all: unset;
            height: 100%;
            width: 32px;
        }
       
    }

    .tools {
        display: flex;
        align-items: center;
        gap: 28px;
        button {
            all: unset;
            padding: 8px;
        }
    }


}

////light theme
#light {
    $active: #f3eff5;
    $grey: #191716;
    $accent: #ffaa5a;
    $accent2: #805e73;
    $accent3: #587792;
    $bg: #fff;
    $outline: transparentize( $grey, 0.8);
    background-color: $bg;
   
    .header {
        background-color: white;
        .search {
            width:80%;
            background-color: $outline;
        }
       .tools {
        svg {
            fill: $accent3;
            stroke: $accent3;
        }
       }
    }
    .settings {
        button {
            font-weight: 600;
            svg {
                color: $accent;
            }
        }
    }
    .home {
        .header {
            background-color: $bg;
        
            .search {
                background-color: #f1f1f1;
                button {
                    background-color: $accent;
                    display: grid;
                    place-items: center;
                    svg{
                        color: white;
                     // height: 16px;
                    }
                }
                button:active {
                    transition: 0.2s ease-out;
                    background-color: $accent3;
                }

            }
            .tools {
                > * {
                    cursor: pointer;
                }
                button {
                    background: linear-gradient( to right, $accent, red);
                    box-shadow: 0px 0px 5px $outline;
                    color: $bg;
                    border-radius: 4px;
                    // outline: 1px solid $g;
                }
            }
        }
    }
}

////dark theme

#dark {
    $bg: #000000;
    $active: #f3eff5;
    $grey: #191716;
    $accent: #ffaa5a;
    $accent2: #805e73;
    $accent3: #587792;
    $white: #fff;
    $outline: transparentize( $active, 0.8);
    background-color: $bg;
    

    .home {
        background-color: $bg;
        .header {
            border-bottom: $outline 1px solid;
            background-color: inherit;
            .search {
                background-color: #222222;
                overflow: hidden;
                input {
                    color: white;
                }
                button{
                    display: flex;
                    background-color: $accent;
                    justify-content: center;
                    align-items: center;
                }
                svg {
                    color: $active;
                }
            }
            .tools {
                svg {
                    color: $white;
                }
                button {
                    background: linear-gradient(to right
                    ,$accent,red);
                    color: white;
                    border-radius: 4px;
                }
            }
        }
    }
    .card {
        outline: 1px solid $outline;
        .user {
            svg {
                fill: black;
                stroke: white;
            }
            p{
                color: white;
                font-weight: 500;
            }
        }
    }

}

@media screen and (max-width:1000px) {
    .home {
        // background-color: red ;
    }
    .card {
        width: 206px ;
    }
    
}
@media screen and (max-width:600px) {
    .card {
        width: 136px;
    }
}